body{
	background: #ddd;
}
#canvas {
	position: absolute;
	left: 0px;
	top: 20px;
	margin: 20px;
	background: #fff;
	border: thin inset rgba(100,150,230,0.5);
	cursor: pointer;

}

#toolbar {
	margin-top: 10px;
	margin-left: 15px;
	color: blue;
}
